<ion-view title={{gameName}} class="gray-bg">
	<ion-content overflow-scroll="true">
		<div class="card-game">
			<div class="other-content">
				<game-header></game-header>
				<div class="game-card white pile fade" on-swipe-down="onSwipeDown(gameId)" ng-if="!game.joined">
				    <p class="card-text">Swipe down to join game.</p>
<!-- 				    <p class="card-text" ng-if="playerHandCount < 7 && !submitted">Swipe down to draw a new card.</p> -->
				    <i class="icon ion-arrow-down-c large-arrow"></i>
				    <p class="logo white">______ Against Humanity</p>
				</div>
				<div class="black-card-content" ng-if="game.joined">
					<div class="game-card black current-black-card">
						<p class="card-text">{{blackCard}}</p>
						<p class="logo black">______ Against Humanity</p>
					</div>
				</div>
			</div>
				<white-cards ng-hide="submitted"></white-cards>
				<submitted-cards ng-if="submitted"></submitted-cards>
		</div>
	</ion-content>
</ion-view>
