<ion-view title={{gameName}}>
	<ion-content overflow-scroll="true">
		<div class="card-game">
		<div class="top-bar">
			<span class="judge-text" ng-if="joinedGames[gameId].joined && !isJudge">Judge: {{judge.name}}</span>
			<span class="judge-text" ng-if="joinedGames[gameId].joined && isJudge">You are the judge!</span>
			<span class="judge-text" ng-if="isJudge && !submittedWhiteCards">Waiting for players to submit.</span>
		</div>
			<div class="other-content">
				<div class="game-card white pile fade" on-swipe-down="onSwipeDown(gameId)" ng-if="!joinedGames[gameId].joined">
				    <p class="card-text">Swipe down to join game.</p>
<!-- 				    <p class="card-text" ng-if="playerHandCount < 7 && !submitted">Swipe down to draw a new card.</p> -->
				    <i class="icon ion-arrow-down-c large-arrow"></i>
				    <p class="logo white">______ Against Humanity</p>
				</div>
				<div class="black-card-content fade" ng-if="joinedGames[gameId].joined">
					<div class="game-card black current-black-card">
						<p class="card-text">{{blackCard}}</p>
						<p class="logo black">______ Against Humanity</p>
					</div>
				</div>
			</div>
				<white-cards ng-if="!joinedGames[gameId].submitted && !isJudge"></white-cards>
				<submitted-cards ng-if="joinedGames[gameId].submitted || isJudge"></submitted-cards>
		</div>
	</ion-content>
</ion-view>
