<ion-view title={{gameName}}>
	<ion-content overflow-scroll="true">
		<div class="card-game">
		<status-bar></status-bar>
<!-- 		PREGAME -->
			<div class="other-content" ng-class="{centered: !players[playerId].hand}">
				<game-header></game-header>
				<div class="game-card white pile fade" on-swipe-down="refillMyHand(gameId,playerId,teamId)" ng-if="needRefill || !haveHand">
				    <p class="card-text">Swipe down to grab some cards!</p>
				    <i class="icon ion-arrow-down-c large-arrow"></i>
				    <p class="logo white">______ Against Humanity</p>
				</div>
				<div class="black-card-content fade" ng-if="!needRefill || haveHand">
					<div class="game-card black current-black-card">
						<p class="card-text">{{blackCard}}</p>
						<p class="logo black">______ Against Humanity</p>
					</div>
				</div>
			</div>
				<white-cards></white-cards>
		</div>
	</ion-content>
</ion-view>