<div class="cards-container">
	<span class="title-text" ng-if="submittedWhiteCards">Submitted cards</span>
	<ul class="hand slow-fade">
		<!-- <li class="game-card animate white" ng-repeat="(key,val) in playerHand" on-double-tap="onDoubleTap(key)">
			<p class="card-text">{{val.text}}</p>
			<p class="logo white">______ Against Humanity</p>
		 </li>	 -->
		<li ng-repeat="(key, value) in submittedWhiteCards track by $index">
	<!-- 		<div class="game-card animate outline grey" ng-show="!">
					<p class="card-text">Waiting for players to submit</p>
					<p>{{key}}</p>
					<p class="logo transparent">______ Against Humanity</p>
			</div> -->
			<div class="game-card animate white" ng-class="{'animate': isJudge}" on-double-tap="judgeDoubleTap(key)">
					<p class="card-text">{{value.text}}</p>
					<p class="logo white">______ Against Humanity</p>
			</div>	
		</li>
	</ul>
</div>