<ion-view class="gray-bg">
    <ion-content overflow-scroll="true">
        <div class="games-container">
            <form name="gameRules" ng-submit="startNewGame(gameConfig)">
                <div class="list">
                <div class="title-text">Set up your game</div>
                        <label class="item item-input">
                            <input class="large-text" ng-model="gameConfig.name" placeholder="Name your game">
                        </label>
                    <div ng-hide="true">
                        <label class="item item-input">Select players</label>
                        <button class="button button-small button-outline button-assertive">Add players</button>
                    </div>
                        <label class="item item-input large-text">
                            <input class="large-text" ng-model="gameConfig.maxTurnTime" placeholder="Max minutes per turn">
                        </label>
                        <label class="item item-input large-text">
                            <input class="large-text" ng-model="gameConfig.minPlayers" placeholder="Min players">
                        </label>
                        <label class="item item-input large-text">
                            <input class="large-text" ng-model="gameConfig.maxPlayers" placeholder="Max players">
                        </label>
                        <!-- ng-show="decks.length > 1" -->
                        <div class="decks">
                            <div class="title-text">Choose your decks</div>
                            <ion-list>
                                <ion-checkbox ng-repeat="deck in decks" class="checkbox-assertive med-text" ng-model="gameConfig.decks[deck.id]"><a ui-sref="new-game.deck({deckId: {{deck.id}}})">{{deck.name}}</a></ion-checkbox>
                            </ion-list>
                        </div>
                        <!--  <button ng-click="goToDecks()"> Add Decks </button> -->
                    </div>
            <div ng-hide="true">
                <button>Invite entire channel</button>
                <button>Invite specific people</button>
                <hr>
            </div>
            <button type="submit" value="Submit" class="button button-block button-assertive">Start Game</button>
            </form>
        </div>
    </ion-content>
</ion-view>
