<ion-view title="_______ Against Humanity" class="black-bg">
	<ion-content>
		<div class="games-container">
			<div class="titles">
				<div class="user-info">
				<span class="user-name">{{storage.user.name}}</span>
				<span class="user-team">{{storage.team.name}}</span>
				</div>
				<button class="button icon-right ion-chevron-right button-block button-assertive" ng-click="startNewGame()">Start new game</button>
			</div>
			<div class="games-list">
				<span>Your games</span>
				<div ng-repeat="(key, value) in games" class="game-listing">
					<span>{{value.name}}</span>
					<button class="button button-small button-assertive">View game</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
